
<!-- ----- début fragmentMenu -->

<nav class="navbar navbar-expand-lg bg-success fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="##">CLAVERIE - LAURENS </a> <!-- RAJOUTER LE NOM DE L'UTILISATEUR CONNECTE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Responsable</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Liste de mes projets</a></li>
            <li><a class="dropdown-item" href="#">Ajout d'un projet</a></li>

          <li>
            <hr class="dropdown-divider">
          </li>

            <li><a class="dropdown-item" href="#">Liste des examinateurs</a></li>
            <li><a class="dropdown-item" href="#">Ajout d'un examinateur</a></li>
            <li><a class="dropdown-item" href="#">Liste des examinateurs d'un projet</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" href="#">Planning d'un projet</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Examinateur</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Liste des projets</a></li>
            <li><a class="dropdown-item" href="#">Liste complète de mes créneaux</a></li>
            <li><a class="dropdown-item" href="#">Liste de mes créneaux pour un projet</a></li>
            <li><a class="dropdown-item" href="#">Ajouter un créneau à un projet</a></li>
            <li><a class="dropdown-item" href="#">Ajouter des créneaux consécutifs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Etudiant</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Liste de mes RDV</a></li>
            <li><a class="dropdown-item" href="#">Prendre un RDV pour un projet</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Innovation</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">##</a></li>
            <li><a class="dropdown-item" href="#">##</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Se connecter</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">S'inscrire</a></li>
            <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 

<!-- ----- fin fragmentMenu -->

